.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0d0f36;
    color: white;
    
}
.card_cadastro{
    width: 500px;
    min-height: 380px;
    border-radius: 20px;
    background: #294380;
    box-shadow: 0 0 20px 1px #1f3261;
    padding-inline: 20px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}
.card_cadastro h1{
    font: 600 24px 'Poppins', sans-serif;
    padding-block: 20px;
    text-align: center;

}
.card_cadastro input{
    width: 100%;
    font: 600 18px 'Poppins', sans-serif;
    padding: 5px;
    color: #f1f6ce;
    margin-bottom: 20px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #f1f6ce;
}
.card_cadastro label{
    font: 400 18px 'Poppins', sans-serif;
}
.card_cadastro button{
    font: 600 18px 'Poppins', sans-serif;
    padding-block: 5px;
    background: #69d2cd;
    border: none;
    border-radius: 20px;

    cursor: pointer;
}
.card_cadastro button:hover{
    background: #b9f1d6;
}
.card_cadastro button:active{
    background: #f1f6ce;
}

@media(max-width: 505px){
    .card_cadastro{
        width: 96%;
    }
    .card_cadastro label{
        font-size: 14px;
    }
    .card_cadastro input{
        font-size: 14px
    }
    .card_cadastro button{
        font-size: 14px;
    }
}
@media(min-width: 1400px){
    .card_cadastro{
        width: 700px;
    }
    .card_cadastro label{
        font-size: 20px;
    }
    .card_cadastro input{
        font-size: 22px
    }
    .card_cadastro button{
        font-size: 22px;
    }
}