
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  background-color: black;
  width: 7px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
}